Repository metatensor/metatrain, changes with the owners that CODEOWNERS names for each.
All owners: @frostedoyster, @abmazitov, @DavideTisi

best_val_mae_both_model is not written if do_forces = MLIP_SETTINGS.USE_FORCES = False (#397)
  pyproject.toml
  tox.ini
Owners: none

Fix missing best_metric in the temporary PET checkpoints
  src/metatrain/experimental/pet/trainer.py
Owners: @abmazitov

Fix missing best_metric in the temporary PET checkpoints (#410)
  src/metatrain/experimental/pet/trainer.py
Owners: @abmazitov

`features` for PET, fixes to LLPR, `is_auxiliary_output`
  src/metatrain/experimental/gap/model.py
  src/metatrain/experimental/nanopet/model.py
  src/metatrain/experimental/pet/model.py
  src/metatrain/experimental/pet/tests/test_functionality.py
  src/metatrain/experimental/soap_bpnn/model.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/llpr.py
Owners: @DavideTisi, @frostedoyster, @abmazitov

Tests and docs
  docs/src/advanced-concepts/auxiliary-outputs.rst
  tests/utils/data/test_target_info.py
Owners: none

`energy_ensemble` also in tests
  tests/utils/test_llpr.py
Owners: none

New export default
  src/metatrain/cli/export.py
  tests/cli/test_export_model.py
Owners: none

Fix test
  tests/cli/test_export_model.py
Owners: none

Suggestions from review
  src/metatrain/cli/export.py
Owners: none

Update help of argument parser
  src/metatrain/cli/export.py
Owners: none

Fix legend typo in PET trainer
  src/metatrain/experimental/pet/trainer.py
Owners: @abmazitov

Suggestions from review
  docs/src/architectures/nanopet.rst
  src/metatrain/experimental/nanopet/model.py
  src/metatrain/experimental/nanopet/modules/attention.py
  src/metatrain/experimental/nanopet/modules/encoder.py
  src/metatrain/experimental/nanopet/modules/nef.py
Owners: @frostedoyster

Fix scheduling
  src/metatrain/experimental/nanopet/trainer.py
  src/metatrain/experimental/soap_bpnn/trainer.py
Owners: @frostedoyster

Export to `{stem}.pt` instead of `exported-model.pt` by default (#411)
  src/metatrain/cli/export.py
  tests/cli/test_export_model.py
Owners: none

Fix legend typo in PET trainer (#412)
  src/metatrain/experimental/pet/trainer.py
Owners: @abmazitov

More comments
  src/metatrain/experimental/nanopet/model.py
  src/metatrain/experimental/nanopet/modules/nef.py
Owners: @frostedoyster

Architecture name in checkpoint
  src/metatrain/experimental/nanopet/trainer.py
Owners: @frostedoyster

Fix assert
  src/metatrain/experimental/nanopet/modules/structures.py
Owners: @frostedoyster

Fix NL extraction
  src/metatrain/experimental/nanopet/model.py
  src/metatrain/experimental/nanopet/modules/structures.py
Owners: @frostedoyster

CODEOWNERS:

# This file defines code owners for the different architectures, ensuring
# that they get asked for a review whenever the code for this architecture
# is modified.

**/soap_bpnn            @frostedoyster
**/alchemical_model     @abmazitov
**/pet                  @abmazitov
**/gap                  @DavideTisi
**/nanopet              @frostedoyster
