Repository metatensor/metatrain, changes with the owners that CODEOWNERS names for each.
All owners: @frostedoyster, @abmazitov, @DavideTisi, @SanggyuChong, @johannes-spies, @pfebrer, @jwa7

Moved hypers generation to a _dev folder
  src/metatrain/experimental/mace/_dev/_gen_hypers.py
  src/metatrain/experimental/mace/_dev/default-hypers-template.temp_yaml
  src/metatrain/experimental/mace/default-hypers.yaml
  src/metatrain/experimental/mace/utils/hypers.py
Owners: @pfebrer, @jwa7

imports
  src/metatrain/experimental/mace/tests/test_torchscript.py
Owners: @pfebrer, @jwa7

finetune config
  src/metatrain/experimental/mace/model.py
Owners: @pfebrer, @jwa7

Make distributed training work
  src/metatrain/experimental/mace/trainer.py
Owners: @pfebrer, @jwa7

Patching e3nn==0.4.4 to make it torchscriptable
  src/metatrain/experimental/mace/__init__.py
  src/metatrain/experimental/mace/utils/e3nn.py
Owners: @pfebrer, @jwa7

hypers
  src/metatrain/experimental/mace/tests/__init__.py
Owners: @pfebrer, @jwa7

Revert to old checkpoint epoch handling (until a better solution is found for all models)
  src/metatrain/experimental/mace/trainer.py
Owners: @pfebrer, @jwa7

Allow mixed stress from ASE
  src/metatrain/utils/data/readers/ase.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/metrics.py
Owners: none

Move to e3nn's compiling
  docs/static/refs.bib
  src/metatrain/experimental/mace/__init__.py
  src/metatrain/experimental/mace/_dev/default-hypers-template.temp_yaml
  src/metatrain/experimental/mace/default-hypers.yaml
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/heads.py
  src/metatrain/experimental/mace/utils/__init__.py
  src/metatrain/experimental/mace/utils/e3nn.py
  src/metatrain/experimental/mace/utils/hypers.py
  src/metatrain/experimental/mace/utils/mts.py
Owners: @pfebrer, @jwa7

Add test for training with mixed stress structures (#868)
  tests/cli/test_train_model.py
Owners: none

Remove leftover debugging
  src/metatrain/experimental/mace/model.py
Owners: @pfebrer, @jwa7

Acutally make it work
  src/metatrain/utils/evaluate_model.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/metrics.py
  src/metatrain/utils/scaler/_base_scaler.py
  tests/cli/test_train_model.py
  tests/resources/dump.py
Owners: none

Removed other doc and added line to reference minimal training yaml example
  docs/src/getting-started/advanced_base_config.rst
  docs/src/getting-started/custom_dataset_conf.rst
  docs/src/getting-started/finetuning-example.rst
  docs/src/getting-started/index.rst
  docs/src/getting-started/train_yaml_config.rst
  examples/programmatic/data_preparation/carbon_reduced_100_memmap/a.bin
  examples/programmatic/data_preparation/carbon_reduced_100_memmap/c.bin
  examples/programmatic/data_preparation/carbon_reduced_100_memmap/e.bin
  examples/programmatic/data_preparation/carbon_reduced_100_memmap/f.bin
  examples/programmatic/data_preparation/carbon_reduced_100_memmap/na.npy
  examples/programmatic/data_preparation/carbon_reduced_100_memmap/ns.npy
  examples/programmatic/data_preparation/carbon_reduced_100_memmap/s.bin
  examples/programmatic/data_preparation/carbon_reduced_100_memmap/x.bin
  examples/programmatic/flashmd/flashmd.xyz
Owners: @johannes-spies, @frostedoyster

Added force weighting
  src/metatrain/pet/default-hypers.yaml
  src/metatrain/pet/schema-hypers.json
  src/metatrain/pet/trainer.py
Owners: @abmazitov

Fix dataset link (#839)
  examples/train_from_scratch/train_from_scratch.py
Owners: none

Allow 2D structures for long-range (LR), Add MLP LR layer
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/long_range.py
  tests/utils/test_long_range.py
  tox.ini
Owners: none

First half
  docs/src/getting-started/index.rst
  examples/programmatic/disk_dataset/qm9_reduced_100_all_at_once.zip
Owners: none

Rebased
  docs/src/getting-started/index.rst
Owners: none

Removed other doc and added line to reference minimal training yaml example
  examples/1-advanced/flashmd.xyz
Owners: none

Rebase2
  examples/1-advanced/flashmd.xyz
Owners: none

Fix linting issue and add tutorial for mixed stress training (#869)
  examples/1-advanced/06-mixed-stress-training.py
Owners: none

CODEOWNERS:

# This file defines code owners for the different architectures, ensuring
# that they get asked for a review whenever the code for this architecture
# is modified.

**/soap_bpnn            @frostedoyster
**/pet                  @abmazitov
**/gap                  @DavideTisi
**/nanopet              @frostedoyster
**/llpr                 @frostedoyster @SanggyuChong
**/flashmd              @johannes-spies @frostedoyster
**/mace                 @pfebrer @jwa7
